# Joining Hurricane and Housing Dataframes

In [1]:
#Importing libraries needed
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

# Joining Housing Values with Hurricanes 
In order to do logistic regression on our data we need to join the datasets. We will use the join method joining the hurricane dataset into the housing dataset. 

Documentation can be found here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [2]:
hurricane = pd.read_csv(r'data\hurricane_clean.csv')
hurricane.head()

        DATE   AWND  WSF2  WSF5  HurricaneName          City
0  8/14/2004   5.82  13.0  15.0              1  Apalachicola
1  7/10/2005  19.46  30.0  34.9              2  Apalachicola
2  7/11/2005  17.00  32.0  38.0              2  Apalachicola
3  10/7/2016  10.74  21.9  27.1              3  Apalachicola
4  10/8/2016   8.05  15.0  21.9              3  Apalachicola

In [3]:
hurricane['HurricaneName'] = hurricane['HurricaneName'].astype(str).map({'1': 'c', '2': 'd', '3': 'ma', '4':'ir', '5':'mi'})

In [4]:
hurricane.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [5]:
#saving the h3 dataframe
hurricane.to_csv(r'data\hurricane_name.csv', index=False)

## Joining 1 year before and after hurricane

In [6]:
#opening dataframes 
hurricane1 = pd.read_csv(r'data\hurricane_name.csv')
housing1 =  pd.read_csv(r'data\housing_1year.csv')

In [7]:
hurricane1.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [8]:
housing1.head()

,City,HurricaneName,SizeRank,b,a,percent,bool
0,Jacksonville,c,12,115043.8176,147424.4069,28.146310,0
1,Orlando,c,16,146810.0341,206367.0165,40.567379,0
2,Miami,c,20,182874.7001,274300.9334,49.993921,0
3,Tampa,c,50,125603.8709,176823.2995,40.778543,0
4,Saint Petersburg,c,84,106546.6985,151807.2415,42.479536,0

In [9]:
#setting the index to city so that we use .join()
hurricane1.set_index(['City', 'HurricaneName'], inplace = True)
housing1.set_index(['City', 'HurricaneName'], inplace = True)

In [10]:
#joining the housing dataframe into the hurricane dataframe 
df1 = hurricane1.join(housing1, how='inner')

In [11]:
#reseting the index
df1.reset_index(inplace = True)
df1.head()

,City,HurricaneName,DATE,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
0,Apalachicola,c,8/14/2004,5.82,13.0,15.0,12877,84666.67437,128305.1212,51.541468,1
1,Apalachicola,d,7/10/2005,19.46,30.0,34.9,12877,100185.49780,148513.7750,48.238795,0
2,Apalachicola,d,7/11/2005,17.00,32.0,38.0,12877,100185.49780,148513.7750,48.238795,0
3,Apalachicola,ir,9/11/2017,20.80,36.9,48.1,12877,124189.20280,155516.9230,25.225800,1
4,Apalachicola,ir,9/10/2017,19.01,32.0,44.1,12877,124189.20280,155516.9230,25.225800,1

In [12]:
#saving the h1 dataframe
df1.to_csv(r'data\oneyear.csv', index=False)

## Joining 6 months before and after hurricane

In [13]:
#opening dataframes 
hurricane6 = pd.read_csv(r'data\hurricane_name.csv')
housing6 =  pd.read_csv(r'data\housing_6months.csv')

In [14]:
hurricane6.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [15]:
housing6.head()

,City,HurricaneName,SizeRank,b,a,percent,bool
0,Jacksonville,c,12,120287.1799,136338.2043,13.343919,0
1,Orlando,c,16,153628.1167,178133.7990,15.951300,0
2,Miami,c,20,196585.3564,242294.9810,23.251795,1
3,Tampa,c,50,134130.4031,158405.6253,18.098225,0
4,Saint Petersburg,c,84,112809.7002,134746.5950,19.445930,0

In [16]:
#setting the index to city so that we use .join()
hurricane6.set_index(['City', 'HurricaneName'], inplace = True)
housing6.set_index(['City', 'HurricaneName'], inplace = True)

In [17]:
#joining the housing dataframe into the hurricane dataframe 
df6 = hurricane1.join(housing6, how='inner')

In [18]:
#reseting the index
df6.reset_index(inplace = True)
df6.head()

,City,HurricaneName,DATE,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
0,Apalachicola,c,8/14/2004,5.82,13.0,15.0,12877,91915.39335,114408.1491,24.471152,1
1,Apalachicola,d,7/10/2005,19.46,30.0,34.9,12877,112287.89680,140227.0087,24.881677,0
2,Apalachicola,d,7/11/2005,17.00,32.0,38.0,12877,112287.89680,140227.0087,24.881677,0
3,Apalachicola,ir,9/11/2017,20.80,36.9,48.1,12877,127923.42670,142053.1799,11.045477,1
4,Apalachicola,ir,9/10/2017,19.01,32.0,44.1,12877,127923.42670,142053.1799,11.045477,1

In [19]:
#saving the h1 dataframe
df6.to_csv(r'data\sixmonths.csv', index=False)

## Joining 3 months before and after hurricane

In [20]:
#opening dataframes 
hurricane3 = pd.read_csv(r'data\hurricane_name.csv')
housing3 =  pd.read_csv(r'data\housing_3months.csv')

In [21]:
hurricane3.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [22]:
housing3.head()

,City,HurricaneName,SizeRank,b,a,percent,bool
0,Jacksonville,c,12,123724.9765,131992.8624,6.682471,0
1,Orlando,c,16,157942.1114,170731.8666,8.097749,0
2,Miami,c,20,205284.1728,228670.4250,11.392136,0
3,Tampa,c,50,138894.6936,152272.3797,9.631531,0
4,Saint Petersburg,c,84,116680.5840,128696.3694,10.298016,0

In [23]:
#setting the index to city so that we use .join()
hurricane3.set_index(['City', 'HurricaneName'], inplace = True)
housing3.set_index(['City', 'HurricaneName'], inplace = True)

In [24]:
#joining the housing dataframe into the hurricane dataframe 
df3 = hurricane1.join(housing3, how='inner')

In [25]:
#reseting the index
df3.reset_index(inplace = True)
df3.head()

,City,HurricaneName,DATE,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
0,Apalachicola,c,8/14/2004,5.82,13.0,15.0,12877,97342.4766,107842.5207,10.786703,0
1,Apalachicola,d,7/10/2005,19.46,30.0,34.9,12877,118373.8681,134187.4471,13.359012,0
2,Apalachicola,d,7/11/2005,17.00,32.0,38.0,12877,118373.8681,134187.4471,13.359012,0
3,Apalachicola,ir,9/11/2017,20.80,36.9,48.1,12877,130949.8639,139956.6082,6.878010,1
4,Apalachicola,ir,9/10/2017,19.01,32.0,44.1,12877,130949.8639,139956.6082,6.878010,1

In [26]:
#saving the h1 dataframe
df3.to_csv(r'data\threemonths.csv', index=False)

## Joining 1 year before and after hurricane (top tier)

In [27]:
#opening dataframes 
hurricanet = pd.read_csv(r'data\hurricane_name.csv')
housingt =  pd.read_csv(r'data\toptier1year.csv')

In [28]:
hurricanet.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [29]:
housingt.head()

,City,HurricaneName,SizeRank,b,a,percent,bool
0,Jacksonville,c,12,210023.6280,269327.0727,28.236559,0
1,Orlando,c,16,257310.7912,363486.4125,41.263571,0
2,Miami,c,20,410383.7472,599733.7569,46.139744,0
3,Tampa,c,50,297085.4976,410355.6034,38.127107,0
4,Saint Petersburg,c,84,232929.2555,329604.9426,41.504313,0

In [30]:
#setting the index to city so that we use .join()
hurricanet.set_index(['City', 'HurricaneName'], inplace = True)
housingt.set_index(['City', 'HurricaneName'], inplace = True)

In [31]:
#joining the housing dataframe into the hurricane dataframe 
dft = hurricane1.join(housingt, how='inner')

In [32]:
#reseting the index
dft.reset_index(inplace = True)
dft.head()

,City,HurricaneName,DATE,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
0,Apalachicola,c,8/14/2004,5.82,13.0,15.0,12877,205983.9550,309761.0651,50.381162,1
1,Apalachicola,d,7/10/2005,19.46,30.0,34.9,12877,241873.3344,359529.9991,48.643917,0
2,Apalachicola,d,7/11/2005,17.00,32.0,38.0,12877,241873.3344,359529.9991,48.643917,0
3,Apalachicola,ir,9/11/2017,20.80,36.9,48.1,12877,250774.4322,297047.2899,18.451984,1
4,Apalachicola,ir,9/10/2017,19.01,32.0,44.1,12877,250774.4322,297047.2899,18.451984,1

In [33]:
#saving the h1 dataframe
dft.to_csv(r'data\top.csv', index=False)

## Joining 1 year before and after hurricane (bottom tier)

In [34]:
#opening dataframes 
hurricaneb = pd.read_csv(r'data\hurricane_name.csv')
housingb =  pd.read_csv(r'data\bottomtier1year.csv')

In [35]:
hurricaneb.head()

        DATE   AWND  WSF2  WSF5 HurricaneName          City
0  8/14/2004   5.82  13.0  15.0             c  Apalachicola
1  7/10/2005  19.46  30.0  34.9             d  Apalachicola
2  7/11/2005  17.00  32.0  38.0             d  Apalachicola
3  10/7/2016  10.74  21.9  27.1            ma  Apalachicola
4  10/8/2016   8.05  15.0  21.9            ma  Apalachicola

In [36]:
housingb.head()

,City,HurricaneName,SizeRank,b,a,percent,bool
0,Jacksonville,c,12,44567.92638,57229.67105,28.409993,0
1,Orlando,c,16,72303.03760,102573.82660,41.866552,0
2,Miami,c,20,80952.39604,120303.61210,48.610317,1
3,Tampa,c,50,48166.95487,69551.37222,44.396449,0
4,Saint Petersburg,c,84,45122.90669,65981.61823,46.226436,0

In [37]:
#setting the index to city so that we use .join()
hurricaneb.set_index(['City', 'HurricaneName'], inplace = True)
housingb.set_index(['City', 'HurricaneName'], inplace = True)

In [38]:
#joining the housing dataframe into the hurricane dataframe 
dfb = hurricane1.join(housingb, how='inner')

In [39]:
#reseting the index
dfb.reset_index(inplace = True)
dfb.head()

,City,HurricaneName,DATE,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
0,Apalachicola,c,8/14/2004,5.82,13.0,15.0,12877,30464.93986,46467.43038,52.527563,1
1,Apalachicola,d,7/10/2005,19.46,30.0,34.9,12877,35905.97635,54321.88969,51.289271,0
2,Apalachicola,d,7/11/2005,17.00,32.0,38.0,12877,35905.97635,54321.88969,51.289271,0
3,Apalachicola,ir,9/11/2017,20.80,36.9,48.1,12877,48530.44212,72702.66809,49.808378,1
4,Apalachicola,ir,9/10/2017,19.01,32.0,44.1,12877,48530.44212,72702.66809,49.808378,1

In [40]:
#saving the h1 dataframe
dfb.to_csv(r'data\bottom.csv', index=False)

## Checking Crosstabs

### 1 year before and after

In [41]:
#check crosstabs 
df1[df1['bool'] == 0].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.0
mean,13.923651,27.633016,36.967302,921.720635,176305.827707,215575.671253,24.342529,0.0
std,6.862933,12.701339,17.514614,2463.998533,55621.738065,61110.580623,15.350324,0.0
min,2.910000,0.000000,0.000000,12.000000,36778.690820,52569.712890,-2.064778,0.0
25%,8.835000,19.000000,25.100000,67.000000,137006.457800,175130.299500,13.835094,0.0
50%,12.750000,23.900000,32.000000,158.000000,166146.484200,206989.256800,18.133900,0.0
75%,17.000000,31.550000,40.900000,390.000000,205063.221200,249221.056800,37.194415,0.0
max,40.260000,79.000000,104.900000,12877.000000,308451.568700,348632.715100,56.873456,0.0

In [42]:
#check crosstabs 
df1[df1['bool'] == 1].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.0
mean,14.324487,28.012821,38.187179,2308.923077,138046.003550,189122.095159,36.822694,1.0
std,7.559851,12.593519,18.356487,3912.835302,29055.244728,48273.967519,17.179685,0.0
min,4.920000,6.900000,8.100000,16.000000,56478.526740,69933.923270,17.483798,1.0
25%,8.950000,19.900000,25.100000,110.000000,123669.846800,156820.042225,23.304809,1.0
50%,12.970000,23.900000,33.100000,636.500000,141354.145650,182591.821450,28.632500,1.0
75%,17.450000,31.775000,44.100000,1644.000000,160734.512125,214262.875200,56.745000,1.0
max,40.710000,70.900000,89.000000,12877.000000,185239.982900,295959.705200,76.822653,1.0

### 6 months before and after

In [43]:
#check crosstabs 
df6[df6['bool'] == 0].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,295.000000,295.000000,295.000000,295.000000,295.000000,295.000000,295.000000,295.0
mean,13.984847,27.912881,37.398983,889.637288,185142.673781,204674.482058,11.303943,0.0
std,6.894346,12.900748,17.750983,2364.811855,57702.534399,60232.824588,7.149602,0.0
min,4.030000,0.000000,0.000000,12.000000,47433.413480,55475.026340,-0.304135,0.0
25%,8.835000,19.000000,25.100000,89.000000,143236.498400,158405.625300,5.995205,0.0
50%,12.300000,23.900000,32.000000,190.000000,175538.384000,194821.182600,9.733574,0.0
75%,17.000000,32.000000,42.500000,547.000000,224035.059500,240455.654200,16.040337,0.0
max,38.920000,79.000000,104.900000,12877.000000,328091.109800,346404.378100,28.550268,0.0

In [44]:
#check crosstabs 
df6[df6['bool'] == 1].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.0
mean,14.058469,27.092857,36.638776,2122.397959,155507.419096,184628.009394,18.543131,1.0
std,7.339515,11.969474,17.492571,3865.849021,39176.779164,51224.920943,9.395508,0.0
min,2.910000,6.900000,8.100000,12.000000,38971.285380,48205.342730,8.026590,1.0
25%,8.950000,19.900000,25.100000,50.000000,131778.204300,154504.628850,11.041181,1.0
50%,12.970000,23.900000,33.100000,529.000000,170958.378200,187886.427900,12.872659,1.0
75%,17.392500,31.100000,40.000000,1410.000000,179526.517100,207349.932800,29.445031,1.0
max,40.710000,70.900000,91.000000,12877.000000,237636.125500,316361.491800,34.925821,1.0

### 3 months before and after

In [45]:
#check crosstabs 
df3[df3['bool'] == 0].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.00000,309.000000,309.0
mean,13.851521,27.538835,36.972492,999.553398,186746.258980,196911.73731,5.830512,0.0
std,6.774603,12.624630,17.352553,2644.472397,58908.830319,60087.82584,3.657482,0.0
min,4.030000,0.000000,0.000000,12.000000,48954.041270,55730.32546,0.383902,0.0
25%,8.950000,19.900000,25.100000,50.000000,146363.727000,153459.77030,3.504553,0.0
50%,12.300000,23.900000,32.000000,158.000000,175495.787900,184179.92670,4.761422,0.0
75%,16.550000,31.100000,40.900000,704.000000,224942.213200,229576.99980,7.608890,0.0
max,38.920000,79.000000,104.900000,12877.000000,335151.388000,344055.50500,15.496296,0.0

In [46]:
#check crosstabs 
df3[df3['bool'] == 1].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.0
mean,14.561190,28.332143,38.080952,1923.523810,167857.963374,186960.505673,11.025801,1.0
std,7.785572,12.868989,18.865028,3462.854117,40412.327950,49042.308234,4.801770,0.0
min,2.910000,6.900000,8.100000,16.000000,39935.075070,45273.546770,5.408594,1.0
25%,8.222500,19.450000,25.100000,190.000000,141649.499525,157339.888550,6.588842,1.0
50%,13.200000,25.500000,34.000000,529.000000,173379.864100,187906.174700,8.518905,1.0
75%,18.680000,33.100000,44.325000,1410.000000,190990.372400,215248.795800,16.177124,1.0
max,40.710000,70.900000,91.000000,12877.000000,258764.628200,306883.075800,19.549620,1.0

### 1 year before and after (top)

In [47]:
#check crosstabs 
dft[dft['bool'] == 0].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.0
mean,14.177730,27.883436,37.412577,884.438650,323776.961287,379171.174568,18.462695,0.0
std,7.019189,12.747729,17.610425,2423.644893,115778.531729,132832.915844,15.694940,0.0
min,2.910000,0.000000,0.000000,12.000000,93659.633840,128379.372100,-3.189990,0.0
25%,8.777500,19.900000,25.100000,50.000000,239925.339150,282507.920600,8.551174,0.0
50%,12.750000,24.500000,33.100000,158.000000,308086.632200,360198.599050,11.830917,0.0
75%,17.450000,32.000000,41.800000,390.000000,368644.005900,431304.819300,32.812471,0.0
max,40.260000,79.000000,104.900000,12877.000000,657614.983300,806155.719500,53.813962,0.0

In [48]:
#check crosstabs 
dft[dft['bool'] == 1].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.0
mean,13.325733,26.580000,36.013333,2439.346667,248972.888023,338098.721553,33.895865,1.0
std,6.738287,12.326921,17.864523,3956.606304,56187.804430,110951.437484,19.884905,0.0
min,4.920000,6.900000,8.100000,16.000000,128379.372100,148090.129000,12.363080,1.0
25%,8.950000,18.100000,25.100000,299.000000,214738.311400,262361.203900,15.448414,1.0
50%,12.080000,23.000000,32.000000,744.000000,240315.869900,297047.289900,22.286392,1.0
75%,15.100000,30.550000,40.000000,2210.000000,282496.454800,426042.744100,55.300691,1.0
max,40.710000,70.900000,89.000000,12877.000000,389971.195600,615189.151500,72.934085,1.0

### 1 year before and after (bottom)

In [49]:
#check crosstabs 
dfb[dfb['bool'] == 0].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.0
mean,13.425324,27.025463,36.302778,683.115741,100513.558828,125175.636082,26.814756,0.0
std,6.714788,12.379324,17.152435,1801.205651,35203.040004,38762.319107,11.069460,0.0
min,4.030000,10.100000,13.000000,12.000000,35905.976350,54321.889690,7.647854,0.0
25%,8.500000,18.100000,25.100000,106.000000,71509.843320,94463.549265,17.953706,0.0
50%,12.080000,23.000000,31.550000,190.000000,96071.433360,129002.384600,24.529904,0.0
75%,16.330000,30.275000,40.900000,704.000000,129002.384600,154413.612500,32.274806,0.0
max,40.260000,79.000000,104.900000,12877.000000,171065.709200,207257.268400,52.350181,0.0

In [50]:
#check crosstabs 
dfb[dfb['bool'] == 1].describe()

,AWND,WSF2,WSF5,SizeRank,b,a,percent,bool
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.0
mean,14.798197,28.721858,40.063388,1006.704918,73045.943163,105950.667654,45.901956,1.0
std,7.039191,13.158880,26.368396,2426.726000,18054.767695,25590.056822,12.353831,0.0
min,4.700000,0.000000,0.000000,12.000000,30464.939860,46467.430380,26.955859,1.0
25%,9.170000,19.900000,25.100000,20.000000,60023.163250,86019.586375,34.650076,1.0
50%,13.420000,25.900000,35.100000,190.000000,71558.433930,104717.963800,44.538904,1.0
75%,18.680000,33.100000,44.100000,744.000000,85433.314600,124345.488000,55.723078,1.0
max,40.710000,70.900000,293.900000,12877.000000,109456.330100,167437.637600,87.186053,1.0