In [1]:
#Importing libraries needed
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#opening the dataset to create a dataframe for logistic regression 
matthew = pd.read_csv(r'data\Matthew.csv')
irma =  pd.read_csv(r'data\Irma.csv')
michael =  pd.read_csv(r'data\Michael.csv')
location = pd.read_csv(r'data\stationlocation.csv')

NOAA Data   
Average wind speed (AWND)   
Peak gust time (PGTM)     
Direction of fastest 2-minute wind (WDF2) (in degrees)   
Direction of fastest 5-second wind (WDF5) (in degrees)   
Fastest 2-minute wind speed (WSF2) (in meters per second)    
Fastest 5-second wind speed (WSF5) (in meter per second)      
24-hour wind movement (km or miles as per user preference, miles on Daily Form pdf file) (WDMV)    
Weather types (WT**)

In [3]:
#dropping rows that have missing value for average wind speed 
matthew = matthew.dropna(subset=['AWND'])
irma = irma.dropna(subset=['AWND'])
michael = michael.dropna(subset=['AWND'])

In [4]:
matthew.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES
46,USW00012897,"NAPLES MUNICIPAL AIRPORT, FL US",26.15498,-81.77514,2.0,10/8/2016,8.05,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,USW00012896,"MARATHON AIRPORT, FL US",24.72624,-81.04770,0.9,10/8/2016,4.92,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,USW00012895,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.49816,-80.37626,5.7,10/8/2016,9.62,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,USW00012894,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.53805,-81.75674,8.2,10/8/2016,6.26,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,USW00073805,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.34869,-85.78835,17.1,10/8/2016,10.51,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#dropping attributes 
matthew = matthew.loc[:, ~matthew.columns.str.contains('ATTRIBUTES', 'WT')]
irma = irma.loc[:, ~irma.columns.str.contains('ATTRIBUTES')]
michael = michael.loc[:, ~michael.columns.str.contains('ATTRIBUTES')]

In [7]:
#dropping attributes, weather types
matthew = matthew.loc[:, ~matthew.columns.str.contains('ATTRIBUTES|WT')]
irma = irma.loc[:, ~irma.columns.str.contains('ATTRIBUTES|WT')]
michael = michael.loc[:, ~michael.columns.str.contains('ATTRIBUTES|WT')]

In [8]:
matthew = matthew.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})
irma = irma.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})
michael = michael.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})

In [9]:
#station, elevation, latitude, and longitude 
matthew.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)
irma.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)
michael.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)

In [11]:
matthew.head()

,NAME,LATITUDE,LONGITUDE,DATE,AWND,WSF2,WSF5
46,"NAPLES MUNICIPAL AIRPORT, FL US",26.15498,-81.77514,10/8/2016,8.05,15.0,19.0
49,"MARATHON AIRPORT, FL US",24.72624,-81.04770,10/8/2016,4.92,10.1,13.0
50,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.49816,-80.37626,10/8/2016,9.62,19.9,25.9
51,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.53805,-81.75674,10/8/2016,6.26,13.0,19.0
71,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.34869,-85.78835,10/8/2016,10.51,21.0,25.9

In [12]:
matthew['COORD'] = list(zip(matthew.LATITUDE, matthew.LONGITUDE))
irma['COORD'] = list(zip(irma.LATITUDE, irma.LONGITUDE))
michael['COORD'] = list(zip(michael.LATITUDE, michael.LONGITUDE))

In [13]:
#importing libraries 
from tkinter import *
from geopy.geocoders import Nominatim
from geopy.geocoders import Photon

# Create an instance of tkinter frame
win = Tk()

# Define geometry of the window
win.geometry("700x350")

''

In [14]:
#creating a function 
def get_city(coords):
    #instantiate the Nominatim API 
    geolocator = Nominatim(user_agent="MyApp")
    #get the city from the coordinates 
    location = geolocator.reverse(coords)
    address = location.raw['address']
    city = address.get('city', '')
    #return the city 
    return city

In [15]:
#applying function to dataframe
irma['CITY'] = irma['COORD'].apply(get_city)
#applying function to dataframe
matthew['CITY'] = matthew['COORD'].apply(get_city)
#applying function to dataframe
michael['CITY'] = michael['COORD'].apply(get_city)

In [23]:
#dropping rows that have missing value for average wind speed 
matthew = matthew.dropna(subset=['AWND'])
irma = irma.dropna(subset=['AWND'])
michael = michael.dropna(subset=['AWND'])

In [28]:
matthew.to_csv(r'data\matthew_clean.csv', index=False)
irma.to_csv(r'data\irma_clean.csv', index=False)
michael.to_csv(r'data\michael_clean.csv', index=False)

In [37]:
matthew = pd.read_csv(r'data\matthew_clean.csv')
irma =  pd.read_csv(r'data\irma_clean.csv')
michael =  pd.read_csv(r'data\michael_clean.csv')

In [38]:
matthew['HurricaneName'] = '1'
irma['HurricaneName'] = '2'
michael['HurricaneName'] = '3'

In [39]:
matthew['City'] = matthew['CITY']
irma['City'] = irma['CITY']
michael['City'] = michael['CITY']

In [40]:
#station, elevation, latitude, and longitude 
matthew.drop(['NAME', 'COORD', 'CITY'], axis=1, inplace=True)
irma.drop(['NAME', 'COORD', 'CITY'], axis=1, inplace=True)
michael.drop(['NAME', 'COORD', 'CITY'], axis=1, inplace=True)

In [55]:
matthew

          DATE   AWND  WSF2  WSF5 HurricaneName          City
0    10/8/2016   8.05  15.0  21.9             1  Apalachicola
1    10/7/2016  10.74  21.9  27.1             1  Apalachicola
2    10/6/2016  11.63  19.9  25.1             1  Apalachicola
3    10/8/2016   6.04  15.0  21.0             1       Bonifay
4    10/7/2016   8.28  18.1  25.1             1       Bonifay
..         ...    ...   ...   ...           ...           ...
132  10/7/2016   8.50  19.9  28.0             1        Milton
133  10/6/2016   6.49  16.1  21.9             1        Milton
134  10/8/2016   8.72  18.1  23.9             1  Winter Haven
135  10/7/2016  13.42  25.9  38.0             1  Winter Haven
136  10/6/2016   9.40  25.1  34.0             1  Winter Haven

[137 rows x 6 columns]

In [54]:
#concating the three dataframes into one 
hurricane = pd.concat([matthew, irma, michael], ignore_index=True)

In [46]:
hurricane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           354 non-null    object
 1   AWND           354 non-null    float64
 2   WSF2           350 non-null    float64
 3   WSF5           349 non-null    float64
 4   HurricaneName  354 non-null    object
 5   City           354 non-null    object
dtypes: float64(3), object(3)
memory usage: 16.7+ KB

In [56]:
hurricane.isnull().sum()

DATE             0
AWND             0
WSF2             4
WSF5             5
HurricaneName    0
City             0
dtype: int64

In [58]:
hurricane.dropna(inplace= True)

In [60]:
hurricane.isnull().sum()

DATE             0
AWND             0
WSF2             0
WSF5             0
HurricaneName    0
City             0
dtype: int64

In [61]:
hurricane.to_csv(r'data\hurricane.csv', index=False)

In [47]:
michael.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           140 non-null    object
 1   AWND           140 non-null    float64
 2   WSF2           137 non-null    float64
 3   WSF5           136 non-null    float64
 4   HurricaneName  140 non-null    object
 5   City           140 non-null    object
dtypes: float64(3), object(3)
memory usage: 6.7+ KB

In [48]:
irma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           77 non-null     object
 1   AWND           77 non-null     float64
 2   WSF2           76 non-null     float64
 3   WSF5           76 non-null     float64
 4   HurricaneName  77 non-null     object
 5   City           77 non-null     object
dtypes: float64(3), object(3)
memory usage: 3.7+ KB

In [49]:
matthew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           137 non-null    object
 1   AWND           137 non-null    float64
 2   WSF2           137 non-null    float64
 3   WSF5           137 non-null    float64
 4   HurricaneName  137 non-null    object
 5   City           137 non-null    object
dtypes: float64(3), object(3)
memory usage: 6.5+ KB

https://www.geeksforgeeks.org/get-the-city-state-and-country-names-from-latitude-and-longitude-using-python/

Use geopy to convert lat and long to cities
Use that and join the datasets 
Run a logistical regression using the combined dataset 
Plot the output of the predict_probability (predict_proba(X)) method (the probablity estimates to see if it's lining us with the S curve)
One interpretation of the coefficient of that model