In [1]:
#Importing libraries needed
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#opening the dataset to create a dataframe for logistic regression 
matthew = pd.read_csv(r'data\Matthew.csv')
irma =  pd.read_csv(r'data\Irma.csv')
michael =  pd.read_csv(r'data\Michael.csv')

In [3]:
#dropping rows that have missing value for average wind speed 
matthew = matthew.dropna(subset=['AWND'])
irma = irma.dropna(subset=['AWND'])
michael = michael.dropna(subset=['AWND'])

In [4]:
matthew.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES
46,USW00012897,"NAPLES MUNICIPAL AIRPORT, FL US",26.15498,-81.77514,2.0,10/8/2016,8.05,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,USW00012896,"MARATHON AIRPORT, FL US",24.72624,-81.04770,0.9,10/8/2016,4.92,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,USW00012895,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.49816,-80.37626,5.7,10/8/2016,9.62,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,USW00012894,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.53805,-81.75674,8.2,10/8/2016,6.26,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,USW00073805,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.34869,-85.78835,17.1,10/8/2016,10.51,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(matthew.isnull().sum())
print()
print(irma.isnull().sum())
print()
print(michael.isnull().sum())

STATION              0
NAME                 0
LATITUDE             0
LONGITUDE            0
ELEVATION            0
DATE                 0
AWND                 0
AWND_ATTRIBUTES      0
PGTM               111
PGTM_ATTRIBUTES    111
WDF2                 0
WDF2_ATTRIBUTES      0
WDF5                 0
WDF5_ATTRIBUTES      0
WDMV               137
WDMV_ATTRIBUTES    137
WSF2                 0
WSF2_ATTRIBUTES      0
WSF5                 0
WSF5_ATTRIBUTES      0
WT01                92
WT01_ATTRIBUTES     92
WT02               137
WT02_ATTRIBUTES    137
WT03               130
WT03_ATTRIBUTES    130
WT04               137
WT04_ATTRIBUTES    137
WT05               137
WT05_ATTRIBUTES    137
WT06               137
WT06_ATTRIBUTES    137
WT07               137
WT07_ATTRIBUTES    137
WT08               121
WT08_ATTRIBUTES    121
WT09               137
WT09_ATTRIBUTES    137
WT10               137
WT10_ATTRIBUTES    137
WT11               137
WT11_ATTRIBUTES    137
dtype: int64

STATION             0
NAME                0
LATITUDE            0
LONGITUDE           0
ELEVATION           0
DATE                0
AWND                0
AWND_ATTRIBUTES     0
PGTM               58
PGTM_ATTRIBUTES    58
WDF2                1
WDF2_ATTRIBUTES     1
WDF5                1
WDF5_ATTRIBUTES     1
WDMV               77
WDMV_ATTRIBUTES    77
WSF2                1
WSF2_ATTRIBUTES     1
WSF5                1
WSF5_ATTRIBUTES     1
WT01               29
WT01_ATTRIBUTES    29
WT02               71
WT02_ATTRIBUTES    71
WT03               68
WT03_ATTRIBUTES    68
WT04               77
WT04_ATTRIBUTES    77
WT05               77
WT05_ATTRIBUTES    77
WT06               77
WT06_ATTRIBUTES    77
WT07               77
WT07_ATTRIBUTES    77
WT08               68
WT08_ATTRIBUTES    68
WT09               77
WT09_ATTRIBUTES    77
WT10               77
WT10_ATTRIBUTES    77
WT11               77
WT11_ATTRIBUTES    77
dtype: int64

STATION              0
NAME                 0
LATITUDE             0
LONGITUDE            0
ELEVATION            0
DATE                 0
AWND                 0
AWND_ATTRIBUTES      0
PGTM               115
PGTM_ATTRIBUTES    115
WDF2                 3
WDF2_ATTRIBUTES      3
WDF5                 4
WDF5_ATTRIBUTES      4
WDMV               140
WDMV_ATTRIBUTES    140
WSF2                 3
WSF2_ATTRIBUTES      3
WSF5                 4
WSF5_ATTRIBUTES      4
WT01                75
WT01_ATTRIBUTES     75
WT02               137
WT02_ATTRIBUTES    137
WT03                94
WT03_ATTRIBUTES     94
WT04               140
WT04_ATTRIBUTES    140
WT05               140
WT05_ATTRIBUTES    140
WT06               140
WT06_ATTRIBUTES    140
WT08               128
WT08_ATTRIBUTES    128
WT09               140
WT09_ATTRIBUTES    140
WT10               140
WT10_ATTRIBUTES    140
WT11               140
WT11_ATTRIBUTES    140
dtype: int64

In [6]:
#dropping attributes 
matthew = matthew.loc[:, ~matthew.columns.str.contains('ATTRIBUTES', 'WT')]
irma = irma.loc[:, ~irma.columns.str.contains('ATTRIBUTES')]
michael = michael.loc[:, ~michael.columns.str.contains('ATTRIBUTES')]

In [7]:
#dropping attributes, weather types
matthew = matthew.loc[:, ~matthew.columns.str.contains('ATTRIBUTES|WT')]
irma = irma.loc[:, ~irma.columns.str.contains('ATTRIBUTES|WT')]
michael = michael.loc[:, ~michael.columns.str.contains('ATTRIBUTES|WT')]

In [8]:
matthew = matthew.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})
irma = irma.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})
michael = michael.rename(columns={"WT10": "Tornado", "WT11": "DamagingWinds"})

In [9]:
#station, elevation, latitude, and longitude 
matthew.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)
irma.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)
michael.drop(['STATION', 'ELEVATION', 'WDF2', 'WDF5', 'PGTM', 'WDMV'], axis=1, inplace=True)

In [10]:
print(matthew.isnull().sum())
print()
print(irma.isnull().sum())
print()
print(michael.isnull().sum())

NAME         0
LATITUDE     0
LONGITUDE    0
DATE         0
AWND         0
WSF2         0
WSF5         0
dtype: int64

NAME         0
LATITUDE     0
LONGITUDE    0
DATE         0
AWND         0
WSF2         1
WSF5         1
dtype: int64

NAME         0
LATITUDE     0
LONGITUDE    0
DATE         0
AWND         0
WSF2         3
WSF5         4
dtype: int64

NOAA Data   
Average wind speed (AWND)   
Peak gust time (PGTM)     
Direction of fastest 2-minute wind (WDF2) (in degrees)   
Direction of fastest 5-second wind (WDF5) (in degrees)   
Fastest 2-minute wind speed (WSF2) (in meters per second)    
Fastest 5-second wind speed (WSF5) (in meter per second)      
24-hour wind movement (km or miles as per user preference, miles on Daily Form pdf file) (WDMV)    
Weather types (WT**)

The cities were interested at looking at are:
High: Jacksonville, Daytona Beach, Melbourne, Orlando, Vero Beach, Miami, Kendall, West Palm, Pompano, Fort Lauderdale, Panama City, Tallahasee, Panama City Beach, St Augustine
Low: Fort Myers, Crestview, Miami, Key West, Kendall, Pensacola, Crestview, Destin, Tallahassee, Gainesville, Fort Myers, St. Petersburg

In [11]:
irma.head()

,NAME,LATITUDE,LONGITUDE,DATE,AWND,WSF2,WSF5
39,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.49816,-80.37626,9/11/2017,17.45,44.1,62.0
40,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.53805,-81.75674,9/11/2017,19.24,45.0,59.1
59,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.34869,-85.78835,9/11/2017,19.01,30.0,45.0
72,"BONIFAY TRI CO AIRPORT, FL US",30.84315,-85.60431,9/11/2017,13.42,23.0,42.9
84,"WHITING FIELD NAS SOUTH, FL US",30.69729,-87.02073,9/11/2017,16.33,25.1,36.0

In [12]:
irma['LATITUDE'] = irma['LATITUDE'].astype('str')
irma['LONGITUDE'] = irma['LONGITUDE'].astype('str')

In [13]:
irma['coordinates'] = irma[['LATITUDE', 'LONGITUDE']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)
irma = irma.drop(columns=['LATITUDE', 'LONGITUDE'])
irma.head()

,NAME,DATE,AWND,WSF2,WSF5,coordinates
39,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",9/11/2017,17.45,44.1,62.0,"27.49816, -80.37626"
40,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",9/11/2017,19.24,45.0,59.1,"26.53805, -81.75674"
59,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,9/11/2017,19.01,30.0,45.0,"30.34869, -85.78835"
72,"BONIFAY TRI CO AIRPORT, FL US",9/11/2017,13.42,23.0,42.9,"30.84315, -85.60431"
84,"WHITING FIELD NAS SOUTH, FL US",9/11/2017,16.33,25.1,36.0,"30.69729, -87.02073"

In [14]:
from tkinter import *
from geopy.geocoders import Nominatim

# Create an instance of tkinter frame
win = Tk()

# Define geometry of the window
win.geometry("700x350")

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

In [15]:
def get_city(coords):
    #instantiate the Nominatim API 
    geolocator = Nominatim(user_agent="MyApp")
    #get the city from the coordinates 
    location = geolocator.reverse(coords)
    address = location.raw['address']
    city = address.get('city', '')
    #return the city 
    return city

In [16]:
irma['city'] = irma['coordinates'].apply(get_city)

In [42]:
irma.to_csv(r'data\irma_city.csv', index=False)

In [22]:
irma.head()

,NAME,DATE,AWND,WSF2,WSF5,coordinates,city
39,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",9/11/2017,17.45,44.1,62.0,"27.49816, -80.37626",
40,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",9/11/2017,19.24,45.0,59.1,"26.53805, -81.75674",Fort Myers
59,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,9/11/2017,19.01,30.0,45.0,"30.34869, -85.78835",
72,"BONIFAY TRI CO AIRPORT, FL US",9/11/2017,13.42,23.0,42.9,"30.84315, -85.60431",
84,"WHITING FIELD NAS SOUTH, FL US",9/11/2017,16.33,25.1,36.0,"30.69729, -87.02073",

https://www.geeksforgeeks.org/get-the-city-state-and-country-names-from-latitude-and-longitude-using-python/

-feature importance
-interaction the outside influence of two varibales on the impact of a model

Use geopy to convert lat and long to cities
Use that and join the datasets 
Run a logistical regression using the combined dataset 
Plot the output of the predict_probability (predict_proba(X)) method (the probablity estimates to see if it's lining us with the S curve)
One interpretation of the coefficient of that model